<h1>Welcome#index</h1>
<table>
  <tr>
    <td>목록</td>
    <td><%= link_to '링크', stocks_path%></a></td>
  </tr>
  <tr>
    <td>목록 업로드</td>
    <td><a href="/stock_uploader">링크</a></td>
  </tr>
</table>

